body{
    background-color: whitesmoke;
    color: dimgrey;
    font: 1rem 'Fira Sans', sans-serif;
    padding: 20px;

    #priceProduct1{
        font-weight: bold;
        text-decoration: underline;
    }

    #priceProduct2{
        font-weight: bold;
        text-decoration: underline;
    }

    #totalForAllProducts{
        font-weight: bold;
        font-size: large;
        text-decoration-line: underline;
        text-decoration-style: double;
    }


    .WebsitePart{
        background-color: white;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
    }


}

footer{
    #ContactUs{
        color: rgba(255, 0, 0, 0.678);
    }
    @media screen and (min-width:600px){
        .FooterPart{
            width:33%;
            float:left;
        }
    }
}

